<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <!-- <meta charset=iso-8859-1 /> -->
        <!-- Je viens de l'ajouter:
            <meta http-equiv= "content-type" content= "text/html; " charset="UTF-8" />-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}JDM{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('res/style.css') }}" />
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('res/images/dico.ico') }}" />
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>

        {% block body %}{% endblock %}

        <footer>
            {% block footer %}
                <br />
                <hr />
                <p class="centrer-bloc couleur-text">Copyright &copy; 2016 <b>Benharchache|Jeux-De-Mots</b></p>
            {% endblock %}
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
