{% extends "JDMDictionnaireBundle::index.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('res/sidebar-style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('res/style.css') }}" />
{% endblock %}

{% block header %}
    <!-- Sidebar -->
    {% block sidebar %}
    <div id="wrapper" class="active_">
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand sidebar-dorder"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
                <li class="couleur-text titre-sidebar sidebar-dorder sidebar-dorder-background"><a class="couleur-text">{{word}}</a></li>
            </ul>
            <hr />
            <ul class="sidebar-nav" id="sidebar">
                <li class="couleur-text">
                    <a id="crossbardef" onclick="javascript:viewImage('image', 0);">Dictionnaire
                    <span id="image" class="sub_icon glyphicon glyphicon-eye-open"></span></a>
                </li>
                {% set inc = 0 %}
                {% for rt in relationtype %}
                    {% set valeyes = "id" ~ inc %}
                    {% set valBarCross = "barCross" ~ inc %}
                    {% set inc = inc + 1 %}
                    {% if rt != "r_pos" %}
                        <li class="couleur-text">
                            {% set rt_val = "" %}
                            {% if rt == "" %}
                                {% set rt_val = "Unknown" %}
                            {% else %}
                                {% set rt_val = rt[:14] %}
                            {% endif %}
                            <a id="{{valBarCross}}" onclick="javascript:viewImage('{{valeyes}}', {{inc}});">{% block wordchoosed %}{{rt_val}}{% endblock %}
                            <span id="{{valeyes}}" class="sub_icon glyphicon glyphicon-eye-open"></span></a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
    {% endblock %}
    {{parent()}}
{% endblock %}

{% block word %}
{{ form_start(form) }}
        {{ form_widget(form) }}
        <datalist id="wordsetlist"></datalist>
{{ form_end(form) }}
{% endblock %}


{% block body %}

    <section class="container ">
        <div class="cadre-section">
            <h2 class="gros-titre search-title">{{word}}</h2>
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="cadre-de-mot-en-vrac">
                    <article class="col-lg-12 col-md-12 col-sm-12 cadre-de-mot-en-vrac-article cadre-de-base cadre-de-recherche">
                        <div class="row">
                            <div class="cadre-de-recherche col-lg-11 col-md-11 col-sm-11 col-xs-11 centrer-bloc" >
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-11">
                                    <h4 class="gros-titre search-title">polarité</h4>
                                    <canvas  class='' id="polariteChart" ></canvas>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-11">
                                    <p class="couleur-text">
                                        <br />
                                        {% for anode in node['r_pos'] %}
                                            {% set rand1 = random(255) %}
                                            {% set rand2 = random(255) %}
                                            {% set rand3 = random(255) %}
                                            {% set border_value = 'border: 1px solid rgba(' ~ rand1 ~ ', ' ~ rand2 ~ ', ' ~ rand3 ~ ', 1);  background-color:  rgba(' ~ rand1 ~ ', ' ~ rand2 ~ ', ' ~ rand3 ~ ', 0.3)' %}
                                            <span id="id-border{{rand1}}{{rand2}}{{rand3}}" style="{{border_value}}">{{anode["name"]}}</span>
                                            &nbsp;
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br />
                    </article>

                    <article id="defcross" class="col-lg-12 col-md-12 col-sm-12 cadre-de-mot-en-vrac-article cadre-de-base cadre-de-recherche">
                        <div class="row">
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" >
                                <a title="Definitions du mot" data-toggle="collapse tooltip" href="#collapseInfo1" aria-expanded="true" aria-controls="collapseInfo1">
                                    <h2><span class="titre-dioctionary search-title">Definition</span></h2>
                                </a>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="badge badge-warning titre-dioctionary-right">{{definition | length}}</span>
                                <span id="cross" onclick="javascript:viewImage('image', 0);" class=" red-couleur-text titre-dioctionary-right-cross glyphicon glyphicon-remove-circle"></span>
                            </div>
                        </div>
                        <hr />
                        <div class="collapse in scroll-article" id="collapseInfo1">
                            {% set inc = 0 %}
                            {% for def in definition %}
                                <p class="bs-callout bs-callout-danger couleur-text">
                                    - {{def[0]}}
                                    <a data-toggle="collapse" href="#collapseDefRef{{inc}}" aria-expanded="true" aria-controls="collapseDef">
                                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                                    </a>
                                    <span class="collapse bs-callout bs-callout-danger" id="collapseDefRef{{inc}}">
                                        {% for defplus in def[1] %}
                                            - {{defplus}}<br />
                                        {% endfor %}
                                    <span>
                                    {% set inc = inc + 1 %}
                                </p>

                            {% endfor %}
                        </div>
                        <br />
                    </article>

                    {% set inc = 0 %}
                    {% for rt in relationtype %}
                        {% set valeyes = "id" ~ inc %}
                        {% set idCollapse = "collapse" ~ inc %}
                        {% set valCross = "cross" ~ inc %}
                        {% set idArcticleCross = "idArticleCross" ~ inc %}
                        {% set inc = inc + 1 %}
                        {% if rt != "r_pos" %}
                            <article id="{{idArcticleCross}}" class="col-lg-12 col-md-12 col-sm-12 cadre-de-mot-en-vrac-article cadre-de-base cadre-de-recherche">
                                <div class="row">
                                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" >
                                        <a title="{{node[rt][0]["info"] }}" data-toggle="collapse"  href="#{{idCollapse}}" aria-expanded="true" aria-controls="collapseInfo1">
                                            {% if rt == "" %}
                                                <h2><span class="titre-dioctionary search-title">Unknown</span></h2>
                                            {% else %}
                                                <h2><span class="titre-dioctionary search-title">{{rt}}</span></h2>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <span class="badge titre-dioctionary-right">{# { node[rt].getTotalItemCount } #}{{node[rt] | length}}</span>
                                        <span id="{{valCross}}" onclick="javascript:viewImage('{{valeyes}}', {{inc}});" class="red-couleur-text titre-dioctionary-right-cross glyphicon glyphicon-remove-circle"></span>
                                    </div>
                                </div>
                                <hr />
                                <div class="collapse in scroll-article" id="{{idCollapse}}">
                                    <p class="couleur-text">
                                        {% for anode in node[rt] %}
                                            {% if anode["formatedName"] is null %}
                                                <a href="{{ path('jdm_dictionnaire_dictionarypage', { 'word': anode['name']}) }}">{{anode["name"] }}</a>;
                                            {% else %}
                                                <a title="{{anode["info"] }}" href="{{ path('jdm_dictionnaire_dictionarypage', { 'word': anode['formatedName']}) }}">{{anode["formatedName"]}}</a>;
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                                <div class="navigation">
                                    {#<hr />#}
                                    {# { knp_pagination_render(node[rt]) } #}
                                </div>
                                <br />

                            </article>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/js/collapse.js') }}"></script>
    <script type="text/javascript" src="{{ asset('res/javascript.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('/assets/vendor/node_modules/chart.js/dist/Chart.js') }}"></script>
    {#
        <script> /*getStyleById();*/ $('#id-border').css("border","1px solid GREEN");</script>
    #}
    <script>
    fermerCadre("defcross", "cross");
    fermerCadre("defcross", "crossbardef");

    var eyes = [];
    eyes.push(false);

    {% set inc = 0 %}
    {% for rt in relationtype %}
        eyes.push(false);
        {% set valeyes = "id" ~ inc %}
        {% set valCross = "cross" ~ inc %}
        {% set valBarCross = "barCross" ~ inc %}
        {% set idArticleCross = "idArticleCross" ~ inc %}
        {% set inc = inc + 1 %}
        console.log("dico->id: {{valeyes}}");
        fermerCadre("{{idArticleCross}}", "{{valCross}}");
        fermerCadre("{{idArticleCross}}", "{{valBarCross}}");
    {%  endfor %}

    //fermerCadre("{ {deftestcross} }", "dtestcross");
    </script>



    <script>
        var polarite = [];
        {% if polarite | length > 2 %}
            polarite.push('{{polarite[2]['w']}}');//positif
        {% else %}
            polarite.push('0');//positif
        {% endif %}
        {% if polarite | length > 1 %}
            polarite.push('{{polarite[1]['w']}}');//neutre
        {% else %}
            polarite.push('0');//positif
        {% endif %}
        {% if polarite | length > 0 %}
            polarite.push('{{polarite[0]['w']}}');//negatif
        {% else %}
            polarite.push('0');//positif
        {% endif %}

        var data = {
        labels: [
            "Négatif",
            "Neutre",
            "Positif"
        ],
        datasets: [
            {
                data: polarite,
                backgroundColor: [
                    "red",
                    "orange",
                    "green"
                ],
                hoverBackgroundColor: [
                    "#ff5555",
                    "#ffbb55",
                    "#00cc11"
                ],
                hoverBorderWidth:[
                    4,4,4
                ]
            }]
        };

        var polariteCtx = document.getElementById("polariteChart");
        var myPieChart = new Chart(polariteCtx,{
            type: 'pie',
            data: data,
            animation:{
                animateScale:true
            },
            options: {
                legend: {
                    display: false
                }
            }
        });
    </script>
    <script>
        /*$(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });*/
    </script>
    <script src="{{ asset('res/main.js') }}"></script>


{% endblock %}
