{% extends "JDMDictionnaireBundle::index.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('res/research-style.css') }}" />
{% endblock %}

{% block body %}

    <section >
        <div class="cadre-de-base cadre-de-recherche centrer-section">
            <h2 class="gros-titre search-title">Jeux De Mots</h2>
            <hr />
            {{ form_start(form) }}
                <div class="centrer-bloc form-group">
                    {{ form_widget(form) }}
                    <datalist id="wordsetlist">
                    </datalist>
                </div>
                <div class="centrer-bloc">
                    <label class="checkbox-inline  couleur-text"><input type="checkbox"  value="">Tri du + au - grand</label>
                    <label class="checkbox-inline  couleur-text"><input type="checkbox" value="">Tri du - au + grand</label>
                </div>
            {{ form_end(form) }}
            <br />
        </div>
    </section>

<div id="load_rs">

</div>
<div class="container-fluid">
    <section class="row">
        <h2 class="gros-titre search-title">Mots en vrac</h2>
        <br />
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="cadre-de-mot-en-vrac">
                <article class="col-lg-6 col-md-6 col-sm-6 cadre-de-mot-en-vrac-article cadre-de-base cadre-de-recherche">
                    <a data-toggle="collapse" href="#collapseInfo1" aria-expanded="true" aria-controls="collapseInfo1">
                        <h2 class="gros-titre search-title">Mots plus utilisé</h2>
                      </a>
                    <hr />
                    <div class="collapse in scroll-article" id="collapseInfo1">
                        <p class="couleur-text">
                            {% for info in infos1 %}
                                <a href="{{ path('jdm_dictionnaire_dictionarypage', { 'word': info}) }}">{{info}}</a>;
                            {% endfor %}
                        </p>
                    </div>
                    <br />
                </article>
                <article class="col-lg-5 col-md-5 col-sm-5 cadre-de-mot-en-vrac-article cadre-de-base cadre-de-recherche">
                    <a data-toggle="collapse" href="#collapseInfo2" aria-expanded="true" aria-controls="collapseInfo2">
                        <h2 class="gros-titre search-title">Mots au Hasard</h2>
                    </a>
                    <hr />
                    <div class="collapse in scroll-article" id="collapseInfo2">
                        <p class="couleur-text">
                            {% for info in infos2 %}
                                        <a href="{{ path('jdm_dictionnaire_dictionarypage', { 'word': info['name']}) }}">{{info['name']}}</a>;
                            {% endfor %}
                        </p>
                    </div>
                    <br />
                </article>
                <article class="col-lg-6 col-md-6 col-sm-6 cadre-de-mot-en-vrac-article cadre-de-base cadre-de-recherche">
                    <a data-toggle="collapse" href="#collapseInfo3" aria-expanded="true" aria-controls="collapseInfo3">
                        <h2 class="gros-titre search-title">LCI</h2>
                    </a>
                    <hr />
                    <div class="collapse in scroll-article" id="collapseInfo3">
                        {% for info in infos3 %}
                            <p class="couleur-text">
                                {% for i in info %}
                                    <a href="{{ path('jdm_dictionnaire_dictionarypage', { 'word': i}) }}">{{i}}</a>
                                {% endfor %}
                            </p>
                        {% endfor %}
                    </div>
                    <br />
                </article>
                <article class="col-lg-5 col-md-5 col-sm-5 cadre-de-mot-en-vrac-article cadre-de-base cadre-de-recherche">
                    <a data-toggle="collapse" href="#collapseInfo4" aria-expanded="true" aria-controls="collapseInfo4">
                        <h2 class="gros-titre search-title">MacGeneration</h2>
                    </a>
                    <hr />
                    <div class="collapse in scroll-article" id="collapseInfo4">
                        {% for info in infos4 %}
                            <p class="couleur-text">
                                {% for i in info %}
                                    <a href="{{ path('jdm_dictionnaire_dictionarypage', { 'word': i}) }}">{{i}}</a>
                                {% endfor %}
                            </p>
                        {% endfor %}
                    </div>
                    <br />
                </article>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/collapse.js') }}"></script>
    <script src="{{ asset('res/main.js') }}"></script>
{% endblock %}
