html body{
    background-color: #292929;
}
body{

}

/* -= Debut: MainTile =- */
.main-title{
    width: 100%;
    height: 45px;
    margin-top: -10%;
    background-color: #222;
    padding-top: 5px;
    box-shadow: 1px 0px 10px #000;
    color: #C3C3C3;
    z-index: 1000;
    position:fixed;
}
.main-title a{
    color: red;
}
.main-title a:hover{
    color: white;
}
.padding-title{
    margin-top: 0px;
    padding-left: 10px;
}
/* -= Fin: MainTile =- */


/* -= Debut: CadreDeBase =- */
.cadre-de-base{
    border: 1px solid red;
    box-shadow: 0px 0px 20px red;
}

/* -= Fin: CadreDeBase =- */


/* -= Debut: InfoGeneral =- */
.gros-titre{
    color: white;
    text-align: center;
    height: 15px;
}
.couleur-text{
    color: white;
}
/* -= Fin: InfoGeneral =- */





/* -= Debut: cadreRecherche =- */
.search-title{
    color: red;
}
.cadre-de-recherche{
    padding-left: 20px;
    padding-right: 20px;

    margin-left: 20px;
    margin-right: 20px;
}
.centrer-section{
    margin-top: 10%;
}
.centrer-bloc{
    text-align: center;
}
.input-recherche{
    width: 90%;
}
/* -= Fin: cadreRecherche =- */

.cadre-de-mot-en-vrac{

}
.cadre-de-mot-en-vrac-article{
    margin: 10px;
    box-shadow: 0px 0px 5px red;
}


/*--------*/
.scroll-article{
    max-height: 140px;
    overflow-y: scroll;
}
/*--------*/

.word-border{
    border: 1px solid red;
}
