
/* - DEBUT CSS POUR LE SIDE BAR - */
/*.row{
    margin-left:0px;
    margin-right:0px;
}*/

#wrapper {
    margin-top: -0px;
    padding-left: 50px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    overflow-y: scroll;
    margin-left: -250px;
    /*margin-left: 100px;*/
    left: 100px;
    width: 200px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
    box-shadow: 1px 0px 10px #000;
}
#sidebar{
}
.sidebar-nav {
    display: block;
    float: left;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 200px;
}
#wrapper.active #sidebar-wrapper {
    left: 250px;
}

#page-content-wrapper {
  width: 100%;
}

/*#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}*/
/*.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}*/

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.sidebar-dorder{
    border-bottom: 1px solid red;
}
.sidebar-dorder-background{
    background-color: #B22222;
}

#main_icon
{
    float:right;
    padding-right: 20px;
    padding-top:18px;
}
.sub_icon
{
    float:right;
    padding-right: 20px;
    padding-top:12px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 50px;
        transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
        left: 100px;
    }
    #wrapper.active {
        padding-left: 200px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 200px;
        transition: all .4s ease 0s;
    }
}
/* - FIN CSS POUR LE SIDE BAR - */



.titre-sidebar{
    font-size: 1.9em;
}
