html body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;

    background-color: #292929;
}
body{
/*    padding-left: 100px;
    margin-left: 100px;*/
}

/* -= Debut: MainTile =- */
.main-title{
    z-index: 1000;
    width: 100%;
    height: 45px;
    margin-top: 0px;
    padding-left: 45px;
    background-color: #222;
    padding-top: 5px;
    box-shadow: 1px 0px 10px #000;
    color: #C3C3C3;
    position: fixed;
}
.main-title a{
    color: red;
}
.main-title a:hover{
    color: white;
}
.padding-title{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 10px;
}
/* -= Fin: MainTile =- */


/* -= Debut: CadreDeBase =- */
.cadre-de-base{
    border: 1px solid red;
    box-shadow: 0px 0px 20px red;
}

/* -= Fin: CadreDeBase =- */


/* -= Debut: InfoGeneral =- */
.gros-titre{
    color: white;
    text-align: center;
    height: 15px;
}
.couleur-text{
    color: white;
}
.red-couleur-text{
    color: red;
}
/* -= Fin: InfoGeneral =- */


/* -= Debut: cadreRecherche =- */
.search-title{
    color: red;
}
.cadre-de-recherche{
    padding-left: 20px;
    padding-right: 20px;

    margin-left: 20px;
    margin-right: 20px;
}
.centrer-section{
    margin-top: 10%;
}
.cadre-section{
    padding-top: 40px;
    padding-left: 15px;
    margin-right: -25px; /*   CA FAIT BOUGER LA PAGE !!!!   */
}
.centrer-section-recherche{
    margin-top: 10%;
    padding-top: 10%;
    padding-left: 15px;
    margin-right: -25px; /*   CA FAIT BOUGER LA PAGE !!!!   */
}
.centrer-bloc{
    text-align: center;
}
.input-recherche{
    width: 90%;
}
.input-recherche-barre{
    width: 100%;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}
/*---------*/
.input-recherche-barre{
    margin-left: 10%;
    width: 50%;
}
.top-a-zero{
    margin-top: -20px;
    margin-left: 50px;
}
/* -= Fin: cadreRecherche =- */


/* -= Debut: cadreInformationRecherche =- */
.cadre-de-mot-en-vrac{
    vertical-align:middle;

}
.cadre-de-mot-en-vrac-article{
    margin: 10px;
    box-shadow: 0px 0px 5px red;
}
/* -= Fin: cadreInformationRecherche =- */



/* -= Debut: cadreDictionary =- */
.titre-dioctionary{
    text-align: left;
}


.titre-dioctionary-right {
    margin-top: 30px;
    position: absolute;
    right: 100%;
}
.titre-dioctionary-right-cross {
    margin-top: 31px;
    position: absolute;
    right: 10%;

}
/*
    JS pour changer l'aparence de la vue pour dire que ca a ete cliqué
var moins="URL de l'image loupemoins";
var plus="URL de l'image loupeplus";
function cachemontre(id) {
  x=document.getElementById(id) ;
  if (x.style.display=="none") {x.style.display="block" ; }     else {x.style.display="none" ;}
}
function plusmoins(id) {
  x=document.getElementById(id) ;
  if (x.src==plus) {x.src=moins ;}
  else {x.src=plus ;}
}*/
/* -= Fin: cadreDictionary =- */



.bs-callout {
    padding-left: 20px;
    margin-left: 20px 0;
    border-left: 1px solid #555;
    border-left-width: 5px;
    /*border-radius: 3px;*/
}


*.bs-callout:empty {
   padding: 20px;
   margin: 0px;
   border: none;
}


.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}




/*--------*/
.scroll-article{
    max-height: 150px;
    overflow-y: scroll;
}
/*--------*/
