{% extends "::base.html.twig" %}

{% block header %}
    <div class="main-title">
        <h1 class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-title"><a href="{{ path('jdm_dictionnaire_researchpage') }}">JDM</a></h1>
        <div  class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            {% block word %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
